
.pagina-productos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 3rem;
}

.titulo-productos {
  font-size: 2rem;
  font-weight: 300;
  color: #343a40;
  margin: 2rem 0 1.5rem;
  text-align: center;
}

.grid-productos {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* metemos 4 columnas como mucho */
  gap: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .pagina-productos {
    padding: 0 15px 2rem;
  }
  
  .titulo-productos {
    font-size: 1.6rem;
  }
}

/*Imágenes*/
.producto-imagen {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}