<div class="login-wrapper">
  <div class="login-card">

    <h2>Iniciar sesión</h2>

    <form (ngSubmit)="submit()">

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="emailUsuario" name="emailUsuario" required placeholder="Introduce tu email">
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="passwordUsuario" name="passwordUsuario" required
          placeholder="Introduce tu contraseña">
      </div>

      @if (error()) {
      <div class="error-message">
        {{ error() }}
      </div>
      }

      <button type="submit" class="login-button" [disabled]="loading()">
        @if (loading()) {
        Entrando...
        } @else {
        Entrar
        }
      </button>
      <div class="register-link">
        <span>¿No tienes cuenta?</span>
        <button type="button" class="btn-register" routerLink="/registro">
          Registrarse
        </button>
      </div>

    </form>

  </div>
</div>