<header>
  <nav>
    <div class="logo-contenedor">
      <div class="logo">
        <a routerLink="/inicio">VlaadESP</a>
      </div>
      <div class="sublogo">
        <span>Just a fashion company!</span>
      </div>
    </div>

    <div class="nav-links">
      <a routerLink="/categoria/hombre" routerLinkActive="active">Hombre</a>
      <a routerLink="/categoria/mujer" routerLinkActive="active">Mujer</a>
      <a routerLink="/categoria/junior" routerLinkActive="active">Junior</a>
      <a routerLink="/about" routerLinkActive="active">About Us!</a>
    </div>

    <div class="nav-icons">
      <app-search></app-search>

      <a routerLink="/favoritos" title="Favoritos" routerLinkActive="active">
        <img src="/img/heart-solid-full.svg" alt="Favoritos" class="nav-icon">
      </a>
      <a routerLink="/perfil" title="Perfil" routerLinkActive="active">
        <img src="/img/user-solid-full.svg" alt="Perfil" class="nav-icon">
      </a>
      <a routerLink="/carrito" title="Carrito" routerLinkActive="active">
        <img src="/img/cart-shopping-solid-full.svg" alt="Carrito" class="nav-icon">
      </a>
    </div>


  </nav>
</header>