<header>
  <nav>
    <div class="logo-contenedor">
      <div class="logo">
        <a routerLink="/inicio">VlaadESP</a>
      </div>
      <div class="sublogo">
        <span>Just a fashion company!</span>
      </div>
    </div>

    <div class="nav-links">
      <a routerLink="/categoria/hombre" routerLinkActive="active">Hombre</a>
      <a routerLink="/categoria/mujer" routerLinkActive="active">Mujer</a>
      <a routerLink="/categoria/junior" routerLinkActive="active">Junior</a>
      <a routerLink="/about" routerLinkActive="active">About Us!</a>
    </div>

    <div class="nav-icons">
      <div class="search-wrap">
        <app-search></app-search>
      </div>

      <a routerLink="/favoritos" title="Favoritos" routerLinkActive="active" class="icon-link">
        <img src="/img/heart-solid-full.svg" alt="Favoritos" class="nav-icon">
      </a>

      @if (!isLogged) {
        <a routerLink="/login" title="Login" class="icon-link">
          <img src="/img/user-solid-full.svg" alt="Login" class="nav-icon">
        </a>
      }

      @if (isLogged) {
        <a routerLink="/perfil" title="Perfil" routerLinkActive="active" class="icon-link">
          <img src="/img/user-solid-full.svg" alt="Perfil" class="nav-icon">
        </a>
      }

      <a routerLink="/carrito" class="icon-link position-relative">
  <img src="/img/cart-shopping-solid-full.svg" alt="Carrito" class="nav-icon">
  
  @if (numItems > 0) {
    <span class="vlaad-badge">{{ numItems }}</span>
  }
</a>

      @if (isLogged) {
        <button type="button" class="logout-button" (click)="logout()">
          Cerrar sesión
        </button>
      }
    </div>
  </nav>
</header>