<nav class="vlaad-breadcrumb-nav">
  <a routerLink="/inicio" class="vlaad-back-link">
    <i class="bi bi-arrow-left"></i> Volver al inicio
  </a>
</nav>

@if (producto) {
  <div class="vlaad-detail-wrapper">
    <div class="grid-detalle">
      
      <div class="seccion-imagen">
        <img [src]="producto.imagenUrl || '/img/placeholder.png'" 
             [alt]="producto.nombreProducto" 
             class="img-full">
      </div>

      <div class="seccion-info">
        <span class="categoria-label">{{ producto.categoria?.nombreCategoria }}</span>
        <h1 class="titulo-producto">{{ producto.nombreProducto }}</h1>
        <p class="ref-p">REF: #{{ producto.idProducto }}</p>
        
        <div class="precio-big">{{ producto.precioProducto }} €</div>

        <!--Aquí mostramos la descripción para cada producto. 
        Si no se encunetra, mostramos el mensaje de que estamos trabajando en ello...-->

        <div class="caja-descripcion">
          <h3>Detalles de la Prenda</h3>
          @if (producto.descripcionProducto && producto.descripcionProducto.trim() !== '') {
            <p>{{ producto.descripcionProducto }}</p>
          } @else {
            <p>Estamos trabajando en la descripción de este producto. Pronto tendremos más detalles disponibles.</p>
          }
        </div>

        <div class="metadata">
          <p><strong>Stock disponible:</strong> {{ producto.stockProducto }} uds.</p>
        </div>

        <div class="botones-accion">
          <button class="btn-vlaad-primary" (click)="agregarAlCarrito()">
            AÑADIR A LA CESTA
          </button>
          
          <button class="btn-vlaad-fav" 
                [class.activo]="esFavoritoActivo" 
                (click)="toggleFavorito()">
            <i class="bi" 
               [class.bi-heart-fill]="esFavoritoActivo" 
               [class.bi-heart]="!esFavoritoActivo"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
} @else {
  <div class="cargando">
    <p>Cargando detalles del producto...</p>
  </div>
}